# Игнорировать .env, чтобы не заливать конфиденциальные данные
.env
.DS_Store
# Можете добавить другие файлы и папки,
# которые не хотите коммитить в репозиторий:
# Например, папку с логами или виртуальным окружением:
# traderbot.log
venv/
__pycache__
subscribe.log
subscribefull.log

